default = "alpine"
timeout = 5

[[entries]]
id = "alpine"
title = "Alpine Linux"
kind = "linux"
linux = "/boot/vmlinuz"
initrd = "/boot/initramfs"
options = "console=ttyS0 modules=loop,squashfs alpine_repo=http://10.0.2.2:@PROXY_PORT@/alpine/latest-stable/main modloop=http://10.0.2.2:@PROXY_PORT@/alpine/latest-stable/releases/x86_64/netboot/modloop-virt"

[[entries]]
id = "alpine-debug"
title = "Alpine Linux (debug)"
kind = "linux"
linux = "/boot/vmlinuz"
initrd = "/boot/initramfs"
options = "console=ttyS0 loglevel=7 modules=loop,squashfs alpine_repo=http://10.0.2.2:@PROXY_PORT@/alpine/latest-stable/main modloop=http://10.0.2.2:@PROXY_PORT@/alpine/latest-stable/releases/x86_64/netboot/modloop-virt"
